<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <meta name="fragment" content="!">
  <meta name="description" content="MEAN app for the Artoo Campus">
  <meta name="author" content="WeBox Studio">
  <meta name="application-name" content="Artoo Campus">
  <meta name="viewport" content="width=device-width">
  <title>Artoo Campus - Controllers</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="app">
  <!-- bind the item controller to an element -->
  <div ng-controller="ItemCtrl">
    <div class="container">
      <!-- <h1>{{titolo}} -->
      <h1 ng-show="titolo"></h1>
      <!-- interpolate the data to the view -->
      <div ng-show="arma">
        <h4>{{arma.nome}}</h4>
        <span>Slots: {{arma.slots}}</span>
        <div class="row">
          <div class="col-sm-4 col-sm-offeset-4">
            <img class="img-responsive" ng-src="{{arma.image}}">
          </div>
        </div>
        <div class="row">
          <button class="btn btn-primary" ng-click="mostraDescrizione()">Mostra Descrizione</button>
          <div ng-show="descrizione">
            <p style="margin:30px 0">{{descrizione}}</p>
          </div>
        </div>
        <!-- understanding the scope -->
        <!-- add handles for behaviours -->
        <!-- create a controller for the player for managing data such as personal and game info -->
      </div>
    </div>
  </div>

  <script src="node_modules/angular/angular.min.js"></script>
  <script src="app.js"></script>
  <!-- load the item controller -->
  <script src="item.controller.js"></script>
</body>

</html>
